<h1>Додај нов производ</h1>
<form action="/add-product" method="POST" style="width: 40%;">
  <div class="form-group">
    <label for="title">Име на производот</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label for="price">Цена</label>
    <input type="text" class="form-control" name="price">
  </div>
  <div class="form-group">
    <label for="weight">Тежина</label>
    <input type="text" class="form-control" name="weight">
  </div>
  <div class="form-group">
    <label for="photo">Слика</label>
    <input type="text" class="form-control" name="photo">
  </div>
  <div class="form-group">
    <label for="description">Опис за производот</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Додај производ</button>
</form>